body {
    background-color: #4ABDAC;
    color: #FFFFFF;
    font-family: Georgia, serif;
  }
  header {
    background-color: #F7B733;
  }
  
  h1 {
     float: right;
  }
  
  #navigation {
    
    border-block-end-width: 20em;
  
  }
  
  #navigation li:hover {
  margin-inline-end: 20em;
  }
  #content {
    background-color: #DFDCE3;
  
  }
  
  div {
    background-color: #FC4A1A;
  }