body{
    background-color:white;
    margin: 10em;
    
}
ul{
    background-color: silver;
}
h1{
    color:white;
}
p{
color: fuchsia;
padding:2em;
background-color: pink;
border: 0ch;
margin: 0%;
}